<!doctype html>
<html >
<head>
    <!-- Basic Page Needs==================================================-->
    <title>Job Detail Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS==================================================-->
    <link rel="stylesheet" href="assets/plugins/css/plugins.css">
    <link href="assets/css/style.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" id="jssDefault" href="assets/css/colors/green-style.css"> </head>
<style>
.backgroundcol{    background-color: #939c99;}
.textcol{color:white;}
.newcontainer{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
</style>
<body>
    <div class="Loader"></div>
    <div class="wrapper">
        <nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i class="fa fa-bars"></i></button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" class="logo logo-scrolled" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                       
                        <li class="active" >
							<a href="javascript:void(0)" class="dropdown-toggle">Home</a>
						
						</li>
						<li >
							<a href="javascript:void(0)" class="dropdown-toggle">Latest Jobs</a>
						</li>
								
								<li >
									<a href="javascript:void(0)" class="dropdown-toggle" >Results</a>
									
								</li>
								
						<li >
									<a href="javascript:void(0)" class="dropdown-toggle" >Admit Card</a>
									
								</li>
								<li class="dropdown" >
									<a href="javascript:void(0)"  class="dropdown-toggle" data-toggle="dropdown">Others Important</a>
									<ul class="dropdown-menu animated fadeOutUp">
								<li><a href="javascript:void(0)">Syllabus</a></li>
								<li><a href="javascript:void(0)">Answer Key</a></li>
								<li><a href="javascript:void(0)">Book's</a></li>
								<li><a href="javascript:void(0)">Previous Year Papers</a></li>
								
							</ul>
								</li>
								
								
								
							
						
				       </ul>
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li><a href="login.html"><i class="fa fa-pencil" aria-hidden="true"></i>SignUp</a></li>
                        <li class="left-br"><a href="javascript:void(0)" data-toggle="modal" data-target="#signup" class="signin">Sign In Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="clearfix"></div>

	   <section class="wp-process home-three">
            <div class="container">
			<br>
			<div class="row">
						<ul class="pagination">
							<li title="Back to Home"><a href="#"><i class="ti-arrow-left"></i></a></li>
							
							<li title="Next Job Detail"><a href="javascript:void(0)"><i class="ti-arrow-right"></i></a></li> 
						</ul>
					</div>
						<div class="row">
						
<table width="80%" border="1" align="center" cellpadding="0" cellspacing="0">
  <tr >
    <td width="17%" height="52" style="border-right:hidden;border-bottom:hidden;"><strong style="    margin-left: 10px;font-size:18px;">Post Name:</strong></td>
    <td width="83%" style="font-size:24px;border-left:hidden;border-bottom:hidden;">Army 10+2 Technical Entry Scheme Join Indian Army TES 44 Online</td>
  </tr>
  <tr >
    <td height="30" style="border-right:hidden;border-bottom:hidden;border-top:hidden;"><strong style="    margin-left: 10px;font-size:18px">Form Start Date:</strong></td>
    <td style="border-left:hidden;border-bottom:hidden;border-top:hidden;">08 August 2020 | 01:35 PM</td>
  </tr>
  <tr >
    <td height="30" style="border-right:hidden;border-bottom:hidden;border-top:hidden;"><strong style="    margin-left: 10px;font-size:18px">Closing Date:</strong></td>
    <td style="border-left:hidden;border-bottom:hidden;border-top:hidden;">10 August 2020 | 11:54 AM</td>
  </tr>
  <tr >
    <td height="30" style="border-right:hidden;border-top:hidden;margin-bottom:150px"><strong style="    margin-left: 10px;font-size:18px">Post Description:</strong></td>
    <td style="border-left:hidden;border-top:hidden;">Join Indian Army (Indian Army) Technical Entry Scheme for its 10 + 2 Intermediate Pass Candidates, which you know as TES 44, Online applications are starting from 10 August this month.</td>
  </tr>
</table>
<br>
<table width="80%" border="1" align="center" cellpadding="0" cellspacing="0">
  <tr >
    <td colspan="3" width="100%" height="52" align="center" valign="middle" style="font-weight: bold; color: #C00; font-size: 24px;">Army 10+2 Technical Entry Scheme Join Indian Army TES 44 Online</td>
    </tr>
    <tr>
    <td width=50%>
    <table width="100%" style="    margin: 0px 0px 21px 8px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="52" align="center" style="font-weight: bold; color: #67af49; font-size: 24px;">Important Dates</td>
  </tr>
  <tr>
    <td>1.Application Begin : 10/08/2020
</td>
  </tr>
  <tr>
    <td>2.Last Date for Apply Online : 09/09/2020
</td>
  </tr>
  <tr>
    <td>3.Admit Card Available : Notified Soon</td>
  </tr>
</table>
</td>
    <td width=50%>
    <table width="100%" style="    margin: 0px 0px 21px 8px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" height="52" style="font-weight: bold; color: #67af49; font-size: 24px;">Form Fee</td>
      </td>
  </tr>
  <tr>
    <td>1.Application Begin : 10/08/2020
</td>
  </tr>
  <tr>
    <td>2.Last Date for Apply Online : 09/09/2020
</td>
  </tr>
  <tr>
    <td>3.Admit Card Available : Notified Soon</td>
  </tr>
</table>
</td>
   
    </tr>
	<tr>
    <td width=50%>
    <table width="100%" style="    margin: 0px 0px 21px 8px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="52" align="center" style="font-weight: bold; color: #67af49; font-size: 24px;">Educational Criteria/Qualification</td>
  </tr>
  <tr>
    <td>1.Application Begin : 10/08/2020
</td>
  </tr>
  <tr>
    <td>2.Last Date for Apply Online : 09/09/2020
</td>
  </tr>
  <tr>
    <td>3.Admit Card Available : Notified Soon</td>
  </tr>
</table>
</td>
    <td width=50%>
    <table width="100%" style="    margin: 0px 0px 21px 8px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" height="52" style="font-weight: bold; color: #67af49; font-size: 24px;">Age Limit</td>
      </td>
  </tr>
  <tr>
    <td>1.Application Begin : 10/08/2020
</td>
  </tr>
  <tr>
    <td>2.Last Date for Apply Online : 09/09/2020
</td>
  </tr>
  <tr>
    <td>3.Admit Card Available : Notified Soon</td>
  </tr>
</table>
</td>
   
    </tr>
	<tr style="    margin: 0px 0px 21px 8px;">
	<td colspan=3> 
	
	 <table width="100%" style="    margin: 0px 0px 21px 8px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan=3 align="center" height="52" style="font-weight: bold; color: #67af49; font-size: 24px;">Vacancy Detail  (Total 500)<img src="assets/img/hand.gif" alt="right hand"></td>
    
  </tr>
  <tr>
    <td colspan=3 align="center" height="52" >
	 <table width="100%" style="    margin: 0px 0px 21px 8px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" height="52" style="font-weight: bold; color: ; font-size: 20px;">Post Name</td>
    <td align="center" height="52" style="font-weight: bold; color: ; font-size: 20px;">Eligibility</td>
    <td align="center" height="52" style="font-weight: bold; color:; font-size: 20px;">No. Of Post</td>
    
  </tr>
  <tr>
    <td align="center" >Post Name</td>
    <td align="center" >Eligibility</td>
    <td align="center" >5</td>
    
  </tr>
  <tr>
    <td align="center" >Post Name</td>
    <td align="center" >Eligibility</td>
    <td align="center" >5</td>
    
  </tr>
  
  <tr>
    <td align="center" >Post Name</td>
    <td align="center" >Eligibility</td>
    <td align="center" >5</td>
    
  </tr>
  <tr>
    <td align="center" >Post Name</td>
    <td align="center" >Eligibility</td>
    <td align="center" >5</td>
    
  </tr>
  
  

  
</table>
</td>
  </tr>
  
</table>
	</td>
	
	</tr>
	
	<tr>
	<td colspan=3>
	 <table width="100%" style="    margin: 0px 0px 21px 8px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
	    <td colspan=3 align="center" height="52" style="font-weight: bold; color: #e48697; font-size: 24px;">How to fill form<img src="assets/img/hand.gif" alt="right hand"></td>

	</tr>
  <tr>
    <td>1. Join Indian Army Are Going to be Released Notification and Invited Online Application Form for the 10+2 Technical Entry Scheme TES 44 Recruitment 2020 Candidate Can Apply Online from 10 August, 2020.

</td>
  </tr>
  <tr>
    <td>2. Candidate Read the Notification Before Apply the Join Indian Army TES 44 Recruitment Application Form in Defense Latest 10+2 Vacancies 2020.

</td>
  </tr>
  <tr>
    <td>3. Kindly Check and Collect the All Document - Eligibility, ID Proof, Address Details, Basic Details.
</td>
  </tr>
</table>
	</td>
	</tr>
</table>
						
         </div>
		  	<div class="row">
						<ul class="pagination">
							<li title="Back to Home"><a href="#"><i class="ti-arrow-left"></i></a></li>
							
							<li title="Next Job Detail"><a href="javascript:void(0)"><i class="ti-arrow-right"></i></a></li> 
						</ul>
					</div>
			</div>
        </section>
     	
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer">
				<div>
					<div class="container">
						<div class="row">
							
							<div class="col-lg-3 col-md-3">
								<div class="footer-widget">
									<img src="assets/img/logo-white.png" class="img-footer" alt="" />
									<div class="footer-add">
										<p>Collins Street West, Victoria,</br> Australia (AU4578).</p>
										<p><strong>Email:</strong></br>hello@jobstock.com</p>
										<p><strong>Call:</strong></br>91 855 742 62548</p>
									</div>
									
								</div>
							</div>		
							<div class="col-lg-2 col-md-2">
								<div class="footer-widget">
									<h4 class="widget-title">Navigations</h4>
									<ul class="footer-menu">
										<li><a href="home-6.html">New Home Design</a></li>
										<li><a href="browse-candidate-list.html">Browse Candidates</a></li>
										<li><a href="browse-employer-list.html">Browse Employers</a></li>
										<li><a href="advance-search-2.html">Advance Search</a></li>
										<li><a href="checkout.html">Job With Map</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-2">
								<div class="footer-widget">
									<h4 class="widget-title">The Highlights</h4>
									<ul class="footer-menu">
										<li><a href="index-2.html">Home Page 2</a></li>
										<li><a href="index-3.html">Home Page 3</a></li>
										<li><a href="index-4.html">Home Page 4</a></li>
										<li><a href="index-5.html">Home Page 5</a></li>
										<li><a href="login.html">LogIn</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-2">
								<div class="footer-widget">
									<h4 class="widget-title">My Account</h4>
									<ul class="footer-menu">
										<li><a href="candidate-dashboard.html">Dashboard</a></li>
										<li><a href="applications.html">Applications</a></li>
										<li><a href="packages.html">Packages</a></li>
										<li><a href="candidate-resume.html">resume.html</a></li>
										<li><a href="register.html">SignUp Page</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-3">
								<div class="footer-widget">
									<h4 class="widget-title">Download Apps</h4>
									<a href="javascript:void(0)" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="ti-android theme-cl"></i>
											</div>
											<div class="os-app-caps">
												Google Play
												<span>Get It Now</span>
											</div>
										</div>
									</a>
									<a href="javascript:void(0)" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="ti-apple theme-cl"></i>
											</div>
											<div class="os-app-caps">
												App Store
												<span>Now it Available</span>
											</div>
										</div>
									</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-6 col-md-6">
								<p class="mb-0">© 2020 Job Stock. Designd By <a href="https://themezhub.com/">Themez Hub</a> All Rights Reserved</p>
							</div>
							
							<div class="col-lg-6 col-md-6 text-right">
								<ul class="footer-bottom-social">
									<li><a href="javascript:void(0)"><i class="ti-facebook"></i></a></li>
									<li><a href="javascript:void(0)"><i class="ti-twitter"></i></a></li>
									<li><a href="javascript:void(0)"><i class="ti-instagram"></i></a></li>
									<li><a href="javascript:void(0)"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
		
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			<!-- Custom Js -->
			<script src="assets/js/custom.js"></script><script type="text/javascript" src="assets/plugins/js/counterup.min.js"></script>
        <script src="assets/js/jQuery.style.switcher.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#styleOptions').styleSwitcher();
            });
        </script>
        <script>
            function openRightMenu() {
                document.getElementById("rightMenu").style.display = "block";
            }

            function closeRightMenu() {
                document.getElementById("rightMenu").style.display = "none";
            }
        </script>
    </div>
</body>


<!-- Mirrored from codeminifier.com/job-stock-5.3/job-stock/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Aug 2020 10:16:20 GMT -->
</html>