<!doctype html>
<html >
<head>
    <!-- Basic Page Needs==================================================-->
    <title>Welcome to SarkariBlackBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS==================================================-->
    <link rel="stylesheet" href="assets/plugins/css/plugins.css">
    <link href="assets/css/style.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" id="jssDefault" href="assets/css/colors/green-style.css"> </head>
<style>
.backgroundcol{    background-color: #939c99;}
.textcol{color:white;}
.newcontainer{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
</style>
<body>
    <div class="Loader"></div>
    <div class="wrapper">
        <nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i class="fa fa-bars"></i></button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" class="logo logo-scrolled" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                       
                        <li class="active" >
							<a href="javascript:void(0)" class="dropdown-toggle">Home</a>
						
						</li>
						<li >
							<a href="javascript:void(0)" class="dropdown-toggle">Latest Jobs</a>
						</li>
								
								<li >
									<a href="javascript:void(0)" class="dropdown-toggle" >Results</a>
									
								</li>
								
						<li >
									<a href="javascript:void(0)" class="dropdown-toggle" >Admit Card</a>
									
								</li>
								<li class="dropdown" >
									<a href="javascript:void(0)"  class="dropdown-toggle" data-toggle="dropdown">Others Important</a>
									<ul class="dropdown-menu animated fadeOutUp">
								<li><a href="javascript:void(0)">Syllabus</a></li>
								<li><a href="javascript:void(0)">Answer Key</a></li>
								<li><a href="javascript:void(0)">Book's</a></li>
								<li><a href="javascript:void(0)">Previous Year Papers</a></li>
								
							</ul>
								</li>
								
								
								
							
						
				       </ul>
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li><a href="login.html"><i class="fa fa-pencil" aria-hidden="true"></i>SignUp</a></li>
                        <li class="left-br"><a href="javascript:void(0)" data-toggle="modal" data-target="#signup" class="signin">Sign In Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="clearfix"></div>

	   <section class="wp-process home-three">
            <div class="container">
						<div class="row">
						<table width=100% class="table">
						<tr>
						<td width=50%>
						<table width=100% class="table" border=1>
						<thead style="background-color:green;color:white">
						<tr>
						<td><h2 style="color: white;">Latest Jobs</h2></td>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td>
								<div align="center" >
<div id="marquee1" align="center" >
<marquee direction="left" width="600" behavior="alternate" >
  <marquee behavior="left"><strong><a href="detail.html?id=1232134" target="_blank" style="color:green">
<b><font size="3">Indian Army TES 44 Online Form 2020 (start date: 22/01/2020, last date: 30/02/2020)</font></b></a> </strong></marquee></marquee></div>
<div id="marquee2" align="center" ><marquee behavior="alternate"  onmouseover="if (!window.__cfRLUnblockHandlers) return false; this.stop();" onmouseout="if (!window.__cfRLUnblockHandlers) return false; this.start();" ><strong><a href="detail.html?id=1232134" target="_blank" style="color:#292c8e">
<b><font size="3">Indian Army TES 44 Online Form 2020 (start date: 22/01/2020, last date: 30/02/2020)</font></b></a> </strong></marquee></div>
<div id="marquee3" align="center" ><marquee behavior="alternate"  onmouseover="if (!window.__cfRLUnblockHandlers) return false; this.stop();" onmouseout="if (!window.__cfRLUnblockHandlers) return false; this.start();" ><strong><a href="detail.html?id=1232134" target="_blank" style="color:green">
<b><font size="3">Indian Army TES 44 Online Form 2020 (start date: 22/01/2020, last date: 30/02/2020)</font></b></a> </strong></marquee></div>
</div>
	
						</td>
						</tr>
						</tbody>
						</table>
						</td>
						<td width=50%>
						<table width=100% class="table" border=1>
						<thead  style="background-color:red;color:white">
						<tr>
						<td><h2 style="color: white;">Last Date</h2></td>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td>
								<div align="center" >
<div id="marquee1" align="center" >
<marquee behavior="alternate"  onmouseover="if (!window.__cfRLUnblockHandlers) return false; this.stop();" onmouseout="if (!window.__cfRLUnblockHandlers) return false; this.start();">
<a href="https://www.sarkariresult.com/force/indian-army-tes-44.php" target="_blank" style="color:black">
<b><font size="3">Indian Army TES 44 Online Form 2020</font></b></a> || 
<a href="https://www.sarkariresult.com/force/ssb-constable-aug20.php" target="_blank" style="color:black">
<b><font size="3">SSB Constable Online Form 2020</font></b></a> | | 
<a href="https://www.sarkariresult.com/2020/nios-board-result.php" target="_blank" style="color:black">
<b><font size="3">NIOS Class 12th Result 2020</font></b></a>
</marquee>
</div><div id="marquee1" align="center">
<marquee behavior="alternate" onmouseover="if (!window.__cfRLUnblockHandlers) return false; this.stop();" onmouseout="if (!window.__cfRLUnblockHandlers) return false; this.start();"><a href="https://www.sarkariresult.com/bihar/bpssc-range-officer-02-2020.php" target="_blank" style="color:black">
<b><font size="3">BPSSC Range Officer Online Form 2020</font></b></a> || 
<a href="https://www.sarkariresult.com/upsc/upsc-ies-2020.php" target="_blank" style="color:black">
<b><font size="3">UPSC IES Online Form 2020 </font></b></a> || 
<a href="https://www.sarkariresult.com/upsc/upsc-cds-ii-2020.php" target="_blank" style="color:black">
<b><font size="3">UPSC CDS II Online Form 2020</font></b></a>
</marquee>
</div><div id="marquee1" align="center">
<marquee behavior="alternate" onmouseover="if (!window.__cfRLUnblockHandlers) return false; this.stop();" onmouseout="if (!window.__cfRLUnblockHandlers) return false; this.start();"><a href="https://www.sarkariresult.com/uttrakhand/ukmssb-mo.aug20.php" target="_blank" style="color:black">
<b><font size="3">Uttrakhand Medical Officer Online Form 2020</font></b></a> || 
<a href="https://www.sarkariresult.com/railway/railway-secr-apprentice-aug20.php" target="_blank" style="color:black">
<b><font size="3">Railway SECR Apprentice Online Form 2020</font></b></a> || 
<a href="https://www.sarkariresult.com/2020/uppsc-beo-dec19.php" target="_blank" style="color:black">
<b><font size="3">UPPSC BEO Admit Card 2020</font></b></a>
</marquee>
</div></div>
			</div>
       
						</td>
						</tr>
						</tbody>
						</table>
						</td>
						</tr>
						</table>
						
         
		 <hr>
		
		       <div class="row">
                    <div class="main-heading">
                        <p>How We Work</p>
                        <h2 style="color: #0e0e0e;">Our Work <span>Process</span></h2></div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="work-process">
                        <div class="work-process-icon"><span class="icon-search"></span></div>
                        <div class="work-process-caption ">
                            <h4>Search Job</h4>
                            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus</p>
                        </div>
                    </div>
                    <div class="work-process">
                        <div class="work-process-icon"><span class="icon-mobile"></span></div>
                        <div class="work-process-caption">
                            <h4>Find Job</h4>
                            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus</p>
                        </div>
                    </div>
                    <div class="work-process">
                        <div class="work-process-icon"><span class="icon-profile-male"></span></div>
                        <div class="work-process-caption">
                            <h4>Hire Employee</h4>
                            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm "><img src="assets/img/wp-iphone.png" class="img-responsive" alt="" /></div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="work-process">
                        <div class="work-process-icon"><span class="icon-layers"></span></div>
                        <div class="work-process-caption">
                            <h4>Start Work</h4>
                            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus</p>
                        </div>
                    </div>
                    <div class="work-process">
                        <div class="work-process-icon"><span class="icon-wallet"></span></div>
                        <div class="work-process-caption">
                            <h4>Pay Money</h4>
                            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus</p>
                        </div>
                    </div>
                    <div class="work-process">
                        <div class="work-process-icon"><span class="icon-happy"></span></div>
                        <div class="work-process-caption">
                            <h4>Happy</h4>
                            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus</p>
                        </div>
                    </div>
                </div>
            
			</div>
        </section>
     	
       <section style="    background-color: #585656;">
            <div class="container">
           	    
				<div class="row">
                    <div class="main-heading">
                        <h2>Latest Jobs By <span>Category</span></h2></div>
				
                </div>
              
			   <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="category-box" data-aos="fade-up">
                            <div class="category-desc">
                                <div class="category-icon"><i class="icon-bargraph" aria-hidden="true"></i><i class="icon-bargraph abs-icon" aria-hidden="true"></i></div>
                                <div class="category-detail category-desc-text">
                                    <h4> <a href="browse-jobs-grid.html">SSC Delhi Constable</a></h4>
                                    <p>122 Jobs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="category-box" data-aos="fade-up">
                            <div class="category-desc">
                                <div class="category-icon"><i class="icon-tools-2" aria-hidden="true"></i><i class="icon-tools-2 abs-icon" aria-hidden="true"></i></div>
                                <div class="category-detail category-desc-text">
                                    <h4> <a href="browse-jobs-grid.html">Army TES 10+2</a></h4>
                                    <p>155 Jobs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="category-box" data-aos="fade-up">
                            <div class="category-desc">
                                <div class="category-icon"><i class="icon-briefcase" aria-hidden="true"></i><i class="icon-briefcase abs-icon" aria-hidden="true"></i></div>
                                <div class="category-detail category-desc-text">
                                    <h4> <a href="browse-jobs-grid.html">KVS Class 1</a></h4>
                                    <p>300 Jobs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="category-box" data-aos="fade-up">
                            <div class="category-desc">
                                <div class="category-icon"><i class="icon-edit" aria-hidden="true"></i><i class="icon-edit abs-icon" aria-hidden="true"></i></div>
                                <div class="category-detail category-desc-text">
                                    <h4> <a href="browse-jobs-grid.html">MP Jail Prahari</a></h4>
                                    <p>80 Jobs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="category-box" data-aos="fade-up">
                            <div class="category-desc">
                                <div class="category-icon"><i class="icon-heart" aria-hidden="true"></i><i class="icon-heart abs-icon" aria-hidden="true"></i></div>
                                <div class="category-detail category-desc-text">
                                    <h4> <a href="browse-jobs-grid.html">Bihar Forest Guard</a></h4>
                                    <p>120 Jobs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="category-box" data-aos="fade-up">
                            <div class="category-desc">
                                <div class="category-icon"><i class="icon-wine" aria-hidden="true"></i><i class="icon-wine abs-icon" aria-hidden="true"></i></div>
                                <div class="category-detail category-desc-text">
                                    <h4> <a href="browse-jobs-grid.html">IBPS PO/MT X</a></h4>
                                    <p>78 Jobs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="category-box" data-aos="fade-up">
                            <div class="category-desc">
                                <div class="category-icon"><i class="icon-map" aria-hidden="true"></i><i class="icon-map abs-icon" aria-hidden="true"></i></div>
                                <div class="category-detail category-desc-text">
                                    <h4> <a href="browse-jobs-grid.html">UP Scholarship</a></h4>
                                    <p>90 Jobs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="category-box" data-aos="fade-up">
                            <div class="category-desc">
                                <div class="category-icon"><i class="icon-desktop" aria-hidden="true"></i><i class="icon-desktop abs-icon" aria-hidden="true"></i></div>
                                <div class="category-detail category-desc-text">
                                    <h4> <a href="browse-jobs-grid.html">UPSC CDS II</a></h4>
                                    <p>210 Jobs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     	
			
		</div>
        </section>
		<section>
<div class="container">				
				<div class="row">
					<table width=100% class="table">
					<tr>
					<td width=33% >
					<table width=100% class="table" border="1" style="border-width: thin;">
					<thead style="text-align:center;   background-color: #d4727b;    color: white;">
					<tr ><td>Result</td></tr>
					</thead>
					<tbody>
					<tr><td>
					<input list="browsers" name="browser" id="browser" class="form-control" placeholder="Search" style="height: 31px;">

<datalist id="browsers">
  <option value="Edge">
  <option value="Firefox">
  <option value="Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>
</td></tr>
					<tr><td>1.Result</td></tr>
					<tr><td>2.Result</td></tr>
					<tr><td>3.Result</td></tr>
					<tr><td>4.Result</td></tr>
					<tr><td>5.Result</td></tr>
					</tbody>
					</table>
				
					</td>
					<td width=33% >
					<table width=100% class="table" border="1" style="border-width: thin;">
					<thead style="text-align:center;   background-color: #d4727b;    color: white;">
					<tr ><td>Admit Card</td></tr>
					</thead>
					<tbody>
					<tr><td>
					<input list="browsers" name="browser" id="browser" class="form-control" placeholder="Search" style="height: 31px;">

<datalist id="browsers">
  <option value="Edge">
  <option value="Firefox">
  <option value="Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>
</td></tr>
					<tr><td>1.Result</td></tr>
					<tr><td>2.Result</td></tr>
					<tr><td>3.Result</td></tr>
					<tr><td>4.Result</td></tr>
					<tr><td>5.Result</td></tr>
					</tbody>
					</table>
					</td>
					<td width=33% >
					<table width=100% class="table" border="1" style="border-width: thin;">
					<thead style="text-align:center;   background-color: #d4727b;    color: white;">
					<tr ><td>Latest Job's</td></tr>
					</thead>
					<tbody>
					<tr><td>
					<input list="browsers" name="browser" id="browser" class="form-control" placeholder="Search" style="height: 31px;">

<datalist id="browsers">
  <option value="Edge">
  <option value="Firefox">
  <option value="Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>
</td></tr>
					<tr><td>1.Result</td></tr>
					<tr><td>2.Result</td></tr>
					<tr><td>3.Result</td></tr>
					<tr><td>4.Result</td></tr>
					<tr><td>5.Result</td></tr>
					</tbody>
					</table>
					</td>
					</tr>
					</table>
</div> 
	
</div>       
	</section>
         <!-- ========== Begin: Brows job Category ===============  -->
			<section class="brows-job-category">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>We found 477 matches jobs, you are watching 7 to 27</h2>
						</div>
					</div>
					<!--/.row-->
					
					<div class="row">
						<div class="col-md-12">
							
							<!-- Single Job List -->
							<div class="item-click">
								<article>
									<div class="brows-job-list">
										<div class="brows-job-half">
											<div class="item-fl-box">
												<div class="brows-job-company-img">
													<a href="job-detail-2.html"><img src="assets/img/com-1.jpg" class="img-responsive" alt="" /></a>
												</div>
												<div class="brows-job-position">
													<h3 class="jb-approved"><a href="job-detail-1.html">Digital Marketing Manager</a></h3>
													<p>
														<a class="theme-cl nlsb-link" href="company-detail.html">Autodesk</a>
														<span class="job-type cl-success bg-trans-success">Full Time</span>
													</p>
													<div class="njsb-location"><i class="ti-location-pin"></i>4565  Gandy Street</div>
												</div>
											</div>
										</div>
										<div class="njsb-link">
											<div class="brows-job-link">
												<a href="job-detail-1.html" class="btn btn-default">Apply Now</a>
											</div>
										</div>
									</div>
									<span class="tg-themetag tg-featuretag">Premium</span>
								</article>
							</div>
							
							<!-- Single Job List -->
							<div class="item-click">
								<article>
									<div class="brows-job-list">
										<div class="brows-job-half">
											<div class="item-fl-box">
												<div class="brows-job-company-img">
													<a href="job-detail-2.html"><img src="assets/img/com-2.jpg" class="img-responsive" alt="" /></a>
												</div>
												<div class="brows-job-position">
													<h3 class="jb-approved"><a href="job-detail-1.html">Gas station attendant</a></h3>
													<p>
														<a class="theme-cl nlsb-link" href="company-detail.html">Apple LTD</a>
														<span class="job-type bg-trans-primary cl-primary">Freelancer</span>
													</p>
													<div class="njsb-location"><i class="ti-location-pin"></i>QBL Park, C40</div>
												</div>
											</div>
										</div>
										<div class="njsb-link">
											<div class="brows-job-link">
												<a href="job-detail-1.html" class="btn btn-default">Apply Now</a>
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<!-- Single Job List -->
							<div class="item-click">
								<article>
									<div class="brows-job-list">
										<div class="brows-job-half">
											<div class="item-fl-box">
												<div class="brows-job-company-img">
													<a href="job-detail-2.html"><img src="assets/img/com-3.jpg" class="img-responsive" alt="" /></a>
												</div>
												<div class="brows-job-position">
													<h3 class="jb-approved"><a href="job-detail-1.html">Customs officer</a></h3>
													<p>
														<a class="theme-cl nlsb-link" href="company-detail.html">Twitter Talk</a>
														<span class="job-type bg-trans-warning cl-warning">Part Time</span>
													</p>
													<div class="njsb-location"><i class="ti-location-pin"></i>1579  Stanley Avenue</div>
												</div>
											</div>
										</div>
										<div class="njsb-link">
											<div class="brows-job-link">
												<a href="job-detail-1.html" class="btn btn-default">Apply Now</a>
											</div>
										</div>
									</div>
									<span class="tg-themetag tg-featuretag">Premium</span>
								</article>
							</div>
							
							<!-- Single Job List -->
							<div class="item-click">
								<article>
									<div class="brows-job-list">
										<div class="brows-job-half">
											<div class="item-fl-box">
												<div class="brows-job-company-img">
													<a href="job-detail-2.html"><img src="assets/img/com-4.jpg" class="img-responsive" alt="" /></a>
												</div>
												<div class="brows-job-position">
													<h3 class="jb-approved"><a href="job-detail-1.html">Tailor/ Seamstress</a></h3>
													<p>
														<a class="theme-cl nlsb-link" href="company-detail.html">Sliver City</a>
														<span class="job-type cl-success bg-trans-success">Full Time</span>
													</p>
													<div class="njsb-location"><i class="ti-location-pin"></i>2881  Sharon Lane</div>
												</div>
											</div>
										</div>
										<div class="njsb-link">
											<div class="brows-job-link">
												<a href="job-detail-1.html" class="btn btn-default">Apply Now</a>
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<!-- Single Job List -->
							<div class="item-click">
								<article>
									<div class="brows-job-list">
										<div class="brows-job-half">
											<div class="item-fl-box">
												<div class="brows-job-company-img">
													<a href="job-detail-2.html"><img src="assets/img/com-5.jpg" class="img-responsive" alt="" /></a>
												</div>
												<div class="brows-job-position">
													<h3 class="jb-approved"><a href="job-detail-1.html">Computer programmer</a></h3>
													<p>
														<a class="theme-cl nlsb-link" href="company-detail.html">Autodesk</a>
														<span class="job-type bg-trans-primary cl-primary">Freelancer</span>
													</p>
													<div class="njsb-location"><i class="ti-location-pin"></i>1992 Buick Century</div>
												</div>
											</div>
										</div>
										<div class="njsb-link">
											<div class="brows-job-link">
												<a href="job-detail-1.html" class="btn btn-default">Apply Now</a>
											</div>
										</div>
									</div>
									<span class="tg-themetag tg-featuretag">Premium</span>
								</article>
							</div>
							
							<!-- Single Job List -->
							<div class="item-click">
								<article>
									<div class="brows-job-list">
										<div class="brows-job-half">
											<div class="item-fl-box">
												<div class="brows-job-company-img">
													<a href="job-detail-2.html"><img src="assets/img/com-6.jpg" class="img-responsive" alt="" /></a>
												</div>
												<div class="brows-job-position">
													<h3 class="jb-approved"><a href="job-detail-1.html">Real estate agent</a></h3>
													<p>
														<a class="theme-cl nlsb-link" href="company-detail.html">Facebook</a>
														<span class="job-type cl-success bg-trans-success">Full Time</span>
													</p>
													<div class="njsb-location"><i class="ti-location-pin"></i>1746  Viking Drive</div>
												</div>
											</div>
										</div>
										<div class="njsb-link">
											<div class="brows-job-link">
												<a href="job-detail-1.html" class="btn btn-default">Apply Now</a>
											</div>
										</div>
									</div>
								</article>
							</div>
							
							
						
						</div>
					</div>
					
					<div class="row">
						<ul class="pagination">
							<li><a href="#"><i class="ti-arrow-left"></i></a></li>
							<li class="active"><a href="javascript:void(0)">1</a></li>
							<li><a href="javascript:void(0)">2</a></li>
							<li><a href="javascript:void(0)">3</a></li> 
							<li><a href="javascript:void(0)">4</a></li> 
							<li><a href="javascript:void(0)"><i class="ti-arrow-right"></i></a></li> 
						</ul>
					</div>
					
				</div>
			</section>
			<!-- ========== Begin: Brows job Category End ===============  -->
        <div class="clearfix"></div>
        <!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call-to-act-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call-to-act">
								<div class="call-to-act-head">
									<h3>Want to Become a Success Employers?</h3>
									<span>We'll help you to grow your career and growth.</span>
								</div>
								<a href="javascript:void(0)" class="btn btn-call-to-act">SignUp Today</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			</div>
			<!-- ============================ Before Footer ================================== -->
			<div class="before-footer">
				<div class="container">
					<div class="row">
						
						<div class="col-md-6 col-sm-6">
							<div class="jb4-form-fields">
								<div class="input-group">
								  <input type="email" class="form-control" placeholder="Enter your email address">
								  <span class="input-group-btn">
									<button class="btn theme-bg" type="submit"><span class="fa fa-paper-plane-o"></span></button>
								  </span>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 hill">
							<ul class="job stock-facts">
								<li><span>2744</span></br>Jobs Posted</li>
								<li><span>2365</span></br>Jobs Posted</li>
								<li><span>2021</span></br>Freelancer</li>
								<li><span>7542</span></br>Companies</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			<!-- ============================ Before Footer ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer">
				<div>
					<div class="container">
						<div class="row">
							
							<div class="col-lg-3 col-md-3">
								<div class="footer-widget">
									<img src="assets/img/logo-white.png" class="img-footer" alt="" />
									<div class="footer-add">
										<p>Collins Street West, Victoria,</br> Australia (AU4578).</p>
										<p><strong>Email:</strong></br>hello@jobstock.com</p>
										<p><strong>Call:</strong></br>91 855 742 62548</p>
									</div>
									
								</div>
							</div>		
							<div class="col-lg-2 col-md-2">
								<div class="footer-widget">
									<h4 class="widget-title">Navigations</h4>
									<ul class="footer-menu">
										<li><a href="home-6.html">New Home Design</a></li>
										<li><a href="browse-candidate-list.html">Browse Candidates</a></li>
										<li><a href="browse-employer-list.html">Browse Employers</a></li>
										<li><a href="advance-search-2.html">Advance Search</a></li>
										<li><a href="checkout.html">Job With Map</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-2">
								<div class="footer-widget">
									<h4 class="widget-title">The Highlights</h4>
									<ul class="footer-menu">
										<li><a href="index-2.html">Home Page 2</a></li>
										<li><a href="index-3.html">Home Page 3</a></li>
										<li><a href="index-4.html">Home Page 4</a></li>
										<li><a href="index-5.html">Home Page 5</a></li>
										<li><a href="login.html">LogIn</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-2">
								<div class="footer-widget">
									<h4 class="widget-title">My Account</h4>
									<ul class="footer-menu">
										<li><a href="candidate-dashboard.html">Dashboard</a></li>
										<li><a href="applications.html">Applications</a></li>
										<li><a href="packages.html">Packages</a></li>
										<li><a href="candidate-resume.html">resume.html</a></li>
										<li><a href="register.html">SignUp Page</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-3">
								<div class="footer-widget">
									<h4 class="widget-title">Download Apps</h4>
									<a href="javascript:void(0)" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="ti-android theme-cl"></i>
											</div>
											<div class="os-app-caps">
												Google Play
												<span>Get It Now</span>
											</div>
										</div>
									</a>
									<a href="javascript:void(0)" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="ti-apple theme-cl"></i>
											</div>
											<div class="os-app-caps">
												App Store
												<span>Now it Available</span>
											</div>
										</div>
									</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-6 col-md-6">
								<p class="mb-0">© 2020 Job Stock. Designd By <a href="https://themezhub.com/">Themez Hub</a> All Rights Reserved</p>
							</div>
							
							<div class="col-lg-6 col-md-6 text-right">
								<ul class="footer-bottom-social">
									<li><a href="javascript:void(0)"><i class="ti-facebook"></i></a></li>
									<li><a href="javascript:void(0)"><i class="ti-twitter"></i></a></li>
									<li><a href="javascript:void(0)"><i class="ti-instagram"></i></a></li>
									<li><a href="javascript:void(0)"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			<!-- Signin Window Code -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							
							<div class="new-logwrap">
						
								<div class="form-group">
									<label>Username</label>
									<div class="input-with-icon">
										<input type="text" class="form-control" placeholder="Enter Your Username">
										<i class="theme-cl ti-user"></i>
									</div>
								</div>
								
								<div class="form-group">
									<label>Email</label>
									<div class="input-with-icon">
										<input type="email" class="form-control" placeholder="Enter Your Email">
										<i class="theme-cl ti-email"></i>
									</div>
								</div>
								
								<div class="form-group">
									<label>Password</label>
									<div class="input-with-icon">
										<input type="password" class="form-control" placeholder="Enter Your Password">
										<i class="theme-cl ti-lock"></i>
									</div>
								</div>
								
								<div class="form-groups">
									<button type="submit" class="btn btn-primary theme-bg full-width">Register</button>
								</div>
								
								<div class="forget-account text-center">
									<a class="theme-cl" href="javascript:void(0)">Forget Password?</a>
								</div>
								
								<div class="social-devider">
									<span class="line"></span>
									<span class="circle">Or</span>
								</div>
								
								<div class="social-login row">
									
									<div class="col-md-6">
										<a href="javascript:void(0)" class="jb-btn-icon social-login-facebook"><i class="fa fa-facebook"></i>Facebook</a>
									</div>
									
									<div class="col-md-6">
										<a href="javascript:void(0)" class="jb-btn-icon social-login-google"><i class="fa fa-google-plus"></i>Google</a>
									</div>
									
									<div class="col-md-6">
										<a href="javascript:void(0)" class="jb-btn-icon social-login-twitter"><i class="fa fa-twitter"></i>Twitter</a>
									</div>
									
									<div class="col-md-6">
										<a href="javascript:void(0)" class="jb-btn-icon social-login-linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
									</div>
									
								</div>
								
								<div class="register-account text-center">
									Don't have an account? <a class="theme-cl" href="register.html">Register</a>
								</div>
								
							</div>
							
						</div>
						</div>
				</div>
			</div>   
			<!-- End Signin Window -->
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			<!-- Custom Js -->
			<script src="assets/js/custom.js"></script><script type="text/javascript" src="assets/plugins/js/counterup.min.js"></script>
        <script src="assets/js/jQuery.style.switcher.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#styleOptions').styleSwitcher();
            });
        </script>
        <script>
            function openRightMenu() {
                document.getElementById("rightMenu").style.display = "block";
            }

            function closeRightMenu() {
                document.getElementById("rightMenu").style.display = "none";
            }
        </script>
    </div>
</body>


<!-- Mirrored from codeminifier.com/job-stock-5.3/job-stock/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Aug 2020 10:16:20 GMT -->
</html>